*{
    margin: 0;
    padding: 0;
}
.beforeLoading{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
#resultScreen{
    position: relative;
    margin-top: 0%;
    /* background-color: blue; */
}
Card{
    position: absolute;
    margin-top: 8%;
}
#totalNO{
    height: 8vh;
    width: 100%;
    padding-right: 3%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

